@inject Watch.BLL.Services.LayoutService layoutService

@{
    Blog blog = Model;
    var category = blog.Category.Name;
}
<!--breadcrumbs area start-->
<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <h3>blog</h3>
                    <ul>
                        <li><a href="index.html">home</a></li>
                        <li>></li>
                        <li>@category</li>
                        <li>></li>
                        <li>blog details</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs area end-->
<!--blog body area start-->
<div class="blog_area blog_details">
    <div class="container">
        <div class="row">

            <div class="col-lg-9 col-md-12">
                <!--blog grid area start-->
                <div class="blog_details_wrapper">
                    <div class="blog_thumb">
                       <img style="width:966px; height:504px;" src="~/assets/img/blog/@blog.ImageUrl" alt="">
                    </div>
                    <div class="blog_content">
                        <h3 class="post_title">@blog.Title</h3>
                        <div class="post_meta">
                            <span><i class="ion-person"></i> Posted by </span>
                            <span>@blog.Author</span>
                            <span>|</span>
                            <span><i class="fa fa-calendar" aria-hidden="true"></i>  Posted on  @blog.PublishTime.ToString("dd MMMM yyyy")	</span>

                        </div>
                        <div class="post_content">
                            <p>@blog.ShortContent</p>
                            <blockquote>
                                <p>@blog.SpecifiedContent</p>
                            </blockquote>
                            <p>@blog.MainContent</p>
                        </div>
                        <div class="entry_content">
                            <div class="social_sharing">

                                <ul>
                                    <li class="facebook"><a href="@layoutService.GetSettings().FirstOrDefault(p=>p.Key.Trim().ToLower()=="fburl")?.Value" target="_blank">@Html.Raw(@layoutService.GetSettings().FirstOrDefault(p=>p.Key.Trim().ToLower()=="fbicon")?.Value)</a></li>
                                    <li class="twitter"><a href="@layoutService.GetSettings().FirstOrDefault(p=>p.Key.Trim().ToLower()=="yturl")?.Value" target="_blank">@Html.Raw(@layoutService.GetSettings().FirstOrDefault(p=>p.Key.Trim().ToLower()=="yticon")?.Value)</a></li>
                                    <li class="pinterest"><a href="@layoutService.GetSettings().FirstOrDefault(p=>p.Key.Trim().ToLower()=="g+url")?.Value" target="_blank">@Html.Raw(@layoutService.GetSettings().FirstOrDefault(p=>p.Key.Trim().ToLower()=="g+icon")?.Value)</a></li>
                                    <li class="google-plus"><a href="@layoutService.GetSettings().FirstOrDefault(p=>p.Key.Trim().ToLower()=="githuburl")?.Value" target="_blank">@Html.Raw(@layoutService.GetSettings().FirstOrDefault(p=>p.Key.Trim().ToLower()=="githubicon")?.Value)</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                   
                   

                </div>
                <!--blog grid area start-->
            </div>
            <div class="col-lg-3 col-md-12">
                <!--blog sidebar start-->
               @await Component.InvokeAsync("BlogSideBar")

                <!--blog sidebar start-->
            </div>
        </div>
    </div>
</div>
<!--blog section area end-->