@{
    ShopSideBarViewModel model = Model;
    var products = model.Products;
    var brands = model.Brands;
    var colors = model.Colors;
    var categories = model.Categories;
}
<div class="sidebar_widget">
    <div class="widget_list widget_categories">
        <h2>Categories</h2>
        <ul>
            @foreach (var category in categories)
            {
                <li><a href="#">@category.Name</a> </li>
            }
          
           

        </ul>
    </div>
    <div class="widget_list widget_filter">
        <h2>Filter by price</h2>
        <form action="#">
            <div id="slider-range"></div>
            <input type="text" name="text" id="amount" />
            <button type="submit">Filter</button>


        </form>
    </div>


    <div class="widget_list widget_brands">
        <h2>Brands</h2>
        <ul>
            @foreach (var brand in brands)
            {
                <li><a href="#">@brand.Name</a> <span>(@brand.Products.Count)</span> </li>
            }
           
        </ul>
    </div>
    <div class="widget_list widget_color">
        <h2>Color</h2>
        <ul>
            @foreach (var color in colors)
            {
                <li><a href="#">@color.Name </a> </li>
            }
            
           

        </ul>
    </div>
    <div class="widget_list tag-cloud">
        <h2>Tags</h2>
        <div class="tag_widget">
            <ul
                @foreach (var tag in categories)
                {
                    <li><a href="#">@tag.Name</a></li>
                }
                
              
            </ul>
        </div>
    </div>
    <div class="widget_list compare_p">
        <h2>Compare Products</h2>
        <div class="compare_item">
            <div class="compare_img">
                <a href="#"><img src="assets/img/s-product/product.jpg" alt=""></a>
            </div>
            <div class="compare_info">
                <h3><a href="#">Letraset animal</a></h3>
                <div class="product_ratings">
                    <ul>
                        <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                        <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                        <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                        <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                        <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                    </ul>
                </div>
                <div class="price_box">
                    <span class="old_price">$65.00</span>
                    <span class="current_price">$60.00</span>
                </div>
            </div>
        </div>
        <div class="compare_item ">
            <div class="compare_img">
                <a href="#"><img src="assets/img/s-product/product2.jpg" alt=""></a>
            </div>
            <div class="compare_info">
                <h3><a href="#">Letraset animal</a></h3>
                <div class="product_ratings">
                    <ul>
                        <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                        <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                        <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                        <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                        <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                    </ul>
                </div>
                <div class="price_box">
                    <span class="old_price">$65.00</span>
                    <span class="current_price">$60.00</span>
                </div>
            </div>
        </div>
        <div class="compare_btn">
            <a href="#">compare<i class="ion-checkmark-round"></i></a>
        </div>
    </div>
    <div class="widget_list Featured_p">
        <h2>Featured Products</h2>
        <div class="Featured_item">
            <div class="Featured_img">
                <a href="#"><img src="assets/img/s-product/product5.jpg" alt=""></a>
            </div>
            <div class="Featured_info">
                <h3><a href="#">Letraset animal</a></h3>
                <div class="product_ratings">
                    <ul>
                        <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                        <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                        <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                        <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                        <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                    </ul>
                </div>
                <div class="price_box">
                    <span class="old_price">$65.00</span>
                    <span class="current_price">$60.00</span>
                </div>
            </div>
        </div>
        <div class="Featured_item">
            <div class="Featured_img">
                <a href="#"><img src="assets/img/s-product/product6.jpg" alt=""></a>
            </div>
            <div class="Featured_info">
                <h3><a href="#">Donec eu furniture</a></h3>
                <div class="product_ratings">
                    <ul>
                        <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                        <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                        <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                        <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                        <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                    </ul>
                </div>
                <div class="price_box">
                    <span class="old_price">$65.00</span>
                    <span class="current_price">$60.00</span>
                </div>
            </div>
        </div>
        <div class="Featured_item bottom">
            <div class="Featured_img">
                <a href="#"><img src="assets/img/s-product/product2.jpg" alt=""></a>
            </div>
            <div class="Featured_info">
                <h3><a href="#">Letraset animal</a></h3>
                <div class="product_ratings">
                    <ul>
                        <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                        <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                        <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                        <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                        <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                    </ul>
                </div>
                <div class="price_box">
                    <span class="old_price">$65.00</span>
                    <span class="current_price">$60.00</span>
                </div>
            </div>
        </div>

    </div>

</div>