@{
    ShopSideBarViewModel model = Model;
    var brands = model.Brands;
    var colors = model.Colors;
    var categories = model.Categories;
}
<div class="sidebar_widget">
    <div class="widget_list widget_categories">
        <h2>Categories</h2>
        <ul>
            @foreach (var category in categories)
            {
                <li><a asp-controller="product" asp-action="ShopSideBarCategory" asp-route-id="@category.Id">@category.Name</a> </li>
            }
          
           

        </ul>
    </div>



    <div class="widget_list widget_brands">
        <h2>Brands</h2>
        <ul>
            @foreach (var brand in brands)
            {
                <li><a asp-controller="product" asp-action="ShopSideBarBrand" asp-route-id="@brand.Id">@brand.Name.ToUpper()</a> </li>
            }
           
        </ul>
    </div>
    <div class="widget_list widget_color">
        <h2>Color</h2>
        <ul>
            @foreach (var color in colors)
            {
                <li><a asp-controller="product" asp-action="ShopSideBarColor" asp-route-id="@color.Id">@color.Name </a> </li>
            }
            
           

        </ul>
    </div>
    <div class="widget_list tag-cloud">
        <h2>Tags</h2>
        <div class="tag_widget">
            <ul>
                @foreach (var tag in categories)
                {
                    <li><a asp-controller="product" asp-action="ShopSideBarCategory" asp-route-id="@tag.Id">@tag.Name</a></li>
                }
                
              
            </ul>
        </div>
    </div>
    <div class="widget_list Featured_p">
        <h2>Featured Products</h2>
        <div class="Featured_item">
            <div class="Featured_img">
                <a href="#"><img src="assets/img/s-product/product5.jpg" alt=""></a>
            </div>
            <div class="Featured_info">
                <h3><a href="#">Letraset animal</a></h3>
                <div class="product_ratings">
                    <ul>
                        <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                        <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                        <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                        <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                        <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                    </ul>
                </div>
                <div class="price_box">
                    <span class="old_price">$65.00</span>
                    <span class="current_price">$60.00</span>
                </div>
            </div>
        </div>
        <div class="Featured_item">
            <div class="Featured_img">
                <a href="#"><img src="assets/img/s-product/product6.jpg" alt=""></a>
            </div>
            <div class="Featured_info">
                <h3><a href="#">Donec eu furniture</a></h3>
                <div class="product_ratings">
                    <ul>
                        <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                        <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                        <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                        <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                        <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                    </ul>
                </div>
                <div class="price_box">
                    <span class="old_price">$65.00</span>
                    <span class="current_price">$60.00</span>
                </div>
            </div>
        </div>
        <div class="Featured_item bottom">
            <div class="Featured_img">
                <a href="#"><img src="assets/img/s-product/product2.jpg" alt=""></a>
            </div>
            <div class="Featured_info">
                <h3><a href="#">Letraset animal</a></h3>
                <div class="product_ratings">
                    <ul>
                        <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                        <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                        <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                        <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                        <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                    </ul>
                </div>
                <div class="price_box">
                    <span class="old_price">$65.00</span>
                    <span class="current_price">$60.00</span>
                </div>
            </div>
        </div>

    </div>

</div>