@inject Watch.BLL.Services.LayoutService layoutService
<!doctype html>
<html class="no-js" lang="en">


<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Monsta - Jewelry eCommerce </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">



    <link rel="stylesheet" href="~/assets/css/plugins.css">
    <link rel="icon" href="~/assets/img/logo/images.png" />

    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!--modernizr min js here-->
    <script src="~/assets/js/vendor/modernizr-3.7.1.min.js"></script>

</head>

<body class="home_black_version">

    <!-- Main Wrapper Start -->
    <!--Offcanvas menu area start-->
    <div class="off_canvars_overlay">
    </div>
    <div class="Offcanvas_menu Offcanvas_five">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="canvas_open">
                        <a href="javascript:void(0)"><i class="ion-navicon"></i></a>
                    </div>
                    <div class="Offcanvas_menu_wrapper">
                        <div class="canvas_close">
                            <a href="javascript:void(0)"><i class="ion-android-close"></i></a>
                        </div>

                        <div class="top_right text-right">
                            <ul>
                             
                                <li class="top_links">
                                    <a href="#">My Account <i class="ion-chevron-down"></i></a>
                                    <ul class="dropdown_links">
                                        <li><a href="checkout.html">Checkout </a></li>
                                        <li><a href="my-account.html">My Account </a></li>
                                        <li><a href="cart.html">Shopping Cart</a></li>
                                        <li><a href="wishlist.html">Wishlist</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="contact_box">
                            <p>Free Support: <a href="tel:0123456789">0123456789</a> </p>
                        </div>
                        <div id="menu" class="text-left ">
                            <ul class="offcanvas_main_menu">
                                <li class="menu-item-has-children active">
                                    <a asp-controller="home" asp-action="index">Home</a>

                                </li>
                                <li class="menu-item-has-children">
                                    <a asp-controller="product" asp-action="index">Shop</a>
                                </li>
                                <li class="menu-item-has-children">
                                    <a asp-controller="blog" asp-action="index">blog</a>


                                </li>
                                <li class="menu-item-has-children">
                                    <a asp-controller="portfolio" asp-action="index">Portfolio</a>


                                </li>
                                <li class="menu-item-has-children">
                                    <a href="#">pages </a>
                                    <ul class="sub-menu">
                                        <li><a href="about.html">About Us</a></li>
                                        <li><a href="services.html">services</a></li>
                                        <li><a href="faq.html">Frequently Questions</a></li>
                                        <li><a href="contact.html">contact</a></li>
                                        <li><a href="login.html">login</a></li>
                                        <li><a href="wishlist.html">Wishlist</a></li>
                                        <li><a href="404.html">Error 404</a></li>
                                        <li><a href="compare.html">compare</a></li>
                                        <li><a href="privacy-policy.html">privacy policy</a></li>
                                        <li><a href="coming-soon.html">coming soon</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="my-account.html">my account</a>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="about.html">About Us</a>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="contact.html"> Contact Us</a>
                                </li>
                            </ul>
                        </div>
                        <div class="Offcanvas_footer">
                            <span><a href="#"><i class="fa fa-envelope-o"></i> demo@example.com</a></span>
                            <ul>
                                <li class="facebook"><a href="@layoutService.GetSettings().FirstOrDefault(p=>p.Key.Trim().ToLower()=="fburl")?.Value" target="_blank">@Html.Raw(@layoutService.GetSettings().FirstOrDefault(p=>p.Key.Trim().ToLower()=="fbicon")?.Value)</a></li>
                                <li class="twitter"><a href="@layoutService.GetSettings().FirstOrDefault(p=>p.Key.Trim().ToLower()=="yturl")?.Value" target="_blank">@Html.Raw(@layoutService.GetSettings().FirstOrDefault(p=>p.Key.Trim().ToLower()=="yticon")?.Value)</a></li>
                                <li class="pinterest"><a href="@layoutService.GetSettings().FirstOrDefault(p=>p.Key.Trim().ToLower()=="g+url")?.Value" target="_blank">@Html.Raw(@layoutService.GetSettings().FirstOrDefault(p=>p.Key.Trim().ToLower()=="g+icon")?.Value)</a></li>
                                <li class="google-plus"><a href="@layoutService.GetSettings().FirstOrDefault(p=>p.Key.Trim().ToLower()=="githuburl")?.Value" target="_blank">@Html.Raw(@layoutService.GetSettings().FirstOrDefault(p=>p.Key.Trim().ToLower()=="githubicon")?.Value)</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Offcanvas menu area end-->
    <!--header area start-->
    <header class="header_area header_black">
        <!--header top start-->
        <div class="header_top">
            <div class="container">
                <div class="row align-items-center">

                    <div class="col-lg-6 col-md-6">
                        <div class="social_icone">
                            <ul>
                                <li class="facebook"><a href="@layoutService.GetSettings().FirstOrDefault(p=>p.Key.Trim().ToLower()=="fburl")?.Value" target="_blank">@Html.Raw(@layoutService.GetSettings().FirstOrDefault(p=>p.Key.Trim().ToLower()=="fbicon")?.Value)</a></li>
                                <li class="twitter"><a href="@layoutService.GetSettings().FirstOrDefault(p=>p.Key.Trim().ToLower()=="yturl")?.Value" target="_blank">@Html.Raw(@layoutService.GetSettings().FirstOrDefault(p=>p.Key.Trim().ToLower()=="yticon")?.Value)</a></li>
                                <li class="pinterest"><a href="@layoutService.GetSettings().FirstOrDefault(p=>p.Key.Trim().ToLower()=="g+url")?.Value" target="_blank">@Html.Raw(@layoutService.GetSettings().FirstOrDefault(p=>p.Key.Trim().ToLower()=="g+icon")?.Value)</a></li>
                                <li class="google-plus"><a href="@layoutService.GetSettings().FirstOrDefault(p=>p.Key.Trim().ToLower()=="githuburl")?.Value" target="_blank">@Html.Raw(@layoutService.GetSettings().FirstOrDefault(p=>p.Key.Trim().ToLower()=="githubicon")?.Value)</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="top_right text-right">
                            <ul>
                              
                                <li class="top_links">
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <a href="#">
                                            @User.Identity.Name

                                            <i class="ion-chevron-down"></i>
                                        </a>
                                    }
                                    else
                                    {
                                        <a href="#">Account <i class="ion-chevron-down"></i></a>
                                    }


                                    <ul class="dropdown_links">
                                        @if (User.Identity.IsAuthenticated)
                                        {
                                            <li><a asp-controller="Account" asp-action="ChangePassword">Change Password</a></li>
                                            <li><a asp-controller="Account" asp-action="logout">Log Out </a></li>
                                        }
                                        else
                                        {

                                            <li><a asp-controller="Account" asp-action="Login">Log In </a></li>
                                        }
                                        <li><a asp-controller="account" asp-action="register">Register </a></li>




                                    </ul>
                                </li>



                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--header top start-->
        <!--header middel start-->
        <div class="header_middel">
            <div class="container">
                <div class="row align-items-center">

                    <div class="col-lg-5">
                        <div class="home_contact">
                            <div class="contact_icone">
                                <img src="~/assets/img/icon/icon_phone.png" alt="">
                            </div>
                            <div class="contact_box">
                                <p>Free Support: <a href="tel:@layoutService.GetSettings().FirstOrDefault(p=>p.Key.Trim().ToLower()=="phonenumber")?.Value">@layoutService.GetSettings().FirstOrDefault(p=>p.Key.Trim().ToLower()=="phonenumber")?.Value</a> </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-4">
                        <div class="logo">
                            <a asp-controller="home" asp-action="index"><img src="~/assets/img/logo/@layoutService.GetSettings().FirstOrDefault(p=>p.Key.Trim().ToLower()=="headerlogo")?.Value" alt=""></a>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-7 col-6">
                        <div class="middel_right">
                            <div class="search_btn">
                                <a href="#">@Html.Raw(@layoutService.GetSettings().FirstOrDefault(p=>p.Key.Trim().ToLower()=="searchicon")?.Value)</a>
                                <div class="dropdown_search">
                                    <form id="search" action="#">
                                        <input id="search-products" placeholder="Search product..." type="text">
                                        <div id="product-list"></div>
                                    </form>
                                </div>
                            </div>
                            <div class="wishlist_btn">
                                <a asp-controller="wishlist" asp-action="index"><i class="ion-heart"></i></a>
                            </div>
                            @await Component.InvokeAsync("CartInfo")

                        @*    <div class="cart_link">
                                <a href="#"><i class="ion-android-cart"></i><span class="cart_text_quantity"> $138.00</span> <i class="fa fa-angle-down"></i></a>
                                <span class="cart_quantity">2</span>
                                <!--mini cart-->
                                <div class="mini_cart">
                                    <div class="cart_close">
                                        <div class="cart_text">
                                            <h3>cart</h3>
                                        </div>
                                        <div class="mini_cart_close">
                                            <a href="javascript:void(0)"><i class="ion-android-close"></i></a>
                                        </div>
                                    </div>
                                    <div class="cart_item">
                                        <div class="cart_img">
                                            <a href="#"><img src="assets/img/s-product/product.jpg" alt=""></a>
                                        </div>
                                        <div class="cart_info">
                                            <a href="#">Letraset animal</a>

                                            <span class="quantity">Qty: 1</span>
                                            <span class="price_cart">$60.00</span>

                                        </div>
                                        <div class="cart_remove">
                                            <a href="#"><i class="ion-android-close"></i></a>
                                        </div>
                                    </div>
                                    <div class="cart_item">
                                        <div class="cart_img">
                                            <a href="#"><img src="assets/img/s-product/product2.jpg" alt=""></a>
                                        </div>
                                        <div class="cart_info">
                                            <a href="#">Natural passages</a>
                                            <span class="quantity">Qty: 1</span>
                                            <span class="price_cart">$69.00</span>
                                        </div>
                                        <div class="cart_remove">
                                            <a href="#"><i class="ion-android-close"></i></a>
                                        </div>
                                    </div>
                                    <div class="cart_total">
                                        <span>Subtotal:</span>
                                        <span>138.00</span>
                                    </div>
                                    <div class="mini_cart_footer">
                                        <div class="cart_button view_cart">
                                            <a href="cart.html">View cart</a>
                                        </div>
                                        <div class="cart_button checkout">
                                            <a class="active" href="checkout.html">Checkout</a>
                                        </div>

                                    </div>

                                </div>
                                <!--mini cart end-->
                            </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--header middel end-->
        <!--header bottom satrt-->
        <div class="header_bottom sticky-header">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12">
                        <div class="main_menu_inner">
                            <div class="logo_sticky">
                                <a asp-controller="home" asp-action="index"><img src="~/assets/img/logo/logo-3.png" alt=""></a>
                            </div>
                            <div class="main_menu">
                                <nav>
                                    <ul>

                                        <li class="active">
                                            <a asp-controller="home" asp-action="index">Home <i class="fa-solid fa-house"></i> </a>

                                        </li>
                                        <li>
                                            <a asp-controller="product" asp-action="index">shop <i class="fa-brands fa-shopify"></i> </a>

                                        </li>
                                        <li>
                                            <a asp-controller="blog" asp-action="index">blog <i class="fa-brands fa-blogger-b"></i></a>

                                        </li>
                                        <li><a asp-controller="portfolio" asp-action="index">portfolio <i class="fa-solid fa-book"></i></a></li>
                                        <li><a asp-controller="aboutPage" asp-action="index">About Us <i class="fa-solid fa-file"></i></a></li>
                                        <li><a asp-controller="Contact" asp-action="index">Contact <i class="fa-solid fa-address-book"></i></a></li>

                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!--header bottom end-->
    </header>
    <!--header area end-->
    @RenderBody()
    <!--footer area start-->
    <footer class="footer_widgets footer_black">
        <div class="container">
            <div class="footer_top">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-8">
                        <div class="widgets_container contact_us">
                            <h3>About Monsta</h3>
                            <div class="footer_contact">
                                <p>Address: @layoutService.GetSettings().FirstOrDefault(p=>p.Key.Trim().ToLower()=="companyaddress")?.Value</p>
                                <p>Phone: <a href="tel:@layoutService.GetSettings().FirstOrDefault(p=>p.Key.Trim().ToLower()=="phonenumber")?.Value">@layoutService.GetSettings().FirstOrDefault(p=>p.Key.Trim().ToLower()=="phonenumber")?.Value</a></p>
                                <p>Email: @layoutService.GetSettings().FirstOrDefault(p=>p.Key.Trim().ToLower()=="companyemail")?.Value</p>
                                <ul>
                                    <li><a href="@layoutService.GetSettings().FirstOrDefault(p=>p.Key.Trim().ToLower()=="fburl")?.Value" target="_blank">@Html.Raw(@layoutService.GetSettings().FirstOrDefault(p=>p.Key.Trim().ToLower()=="fbicon")?.Value)</a></li>
                                    <li><a href="@layoutService.GetSettings().FirstOrDefault(p=>p.Key.Trim().ToLower()=="githuburl")?.Value" target="_blank">@Html.Raw(@layoutService.GetSettings().FirstOrDefault(p=>p.Key.Trim().ToLower()=="githubicon")?.Value)</a></li>
                                    <li><a href="@layoutService.GetSettings().FirstOrDefault(p=>p.Key.Trim().ToLower()=="g+url")?.Value" target="_blank">@Html.Raw(@layoutService.GetSettings().FirstOrDefault(p=>p.Key.Trim().ToLower()=="g+icon")?.Value)</a></li>

                                    <li><a href="@layoutService.GetSettings().FirstOrDefault(p=>p.Key.Trim().ToLower()=="yturl")?.Value" target="_blank">@Html.Raw(@layoutService.GetSettings().FirstOrDefault(p=>p.Key.Trim().ToLower()=="yticon")?.Value)</a></li>
                                </ul>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-4 col-6">
                        <div class="widgets_container widget_menu">
                            <h3>Information</h3>
                            <div class="footer_menu">
                                <ul>
                                    <li><a asp-controller="aboutpage" asp-action="index">About Us</a></li>
                                    <li><a asp-controller="blog" asp-action="index">blog</a></li>
                                    <li><a asp-controller="contact" asp-action="index">Contact</a></li>
                                    <li><a asp-controller="portfolio" asp-action="index">Portfolio</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-5 col-6">
                        <div class="widgets_container widget_menu">
                            <h3>My Account</h3>
                            <div class="footer_menu">
                                <ul>
                                    <li><a asp-controller="account" asp-action="login">My Account</a></li>
                                    <li><a asp-controller="contact" asp-action="index">Contact</a></li>
                                    <li><a asp-controller="wishlist" asp-action="index">Wishlist</a></li>
                                    <li><a asp-controller="portfolio" asp-action="index">Portfolio</a></li>
                                    <li><a href="checkout.html">Checkout</a></li>
                                    <li><a href="faq.html">Frequently Questions</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    @await Component.InvokeAsync("FooterProduct")
                </div>
            </div>
            <div class="footer_middel">
                <div class="row">
                    <div class="col-12">
                        <div class="footer_middel_menu">
                            <ul>
                                <li><a asp-controller="home" asp-action="index">Home</a></li>
                                <li><a asp-controller="product" asp-action="index">Online Store</a></li>
                                <li><a asp-controller="home" asp-action="index">Promotion</a></li>
                                <li><a asp-controller="home" asp-action="index">Privacu Policy</a></li>
                                <li><a asp-controller="home" asp-action="index">Terms Of Use</a></li>
                                <li><a asp-controller="about" asp-action="index">Sitemap</a></li>
                                <li><a asp-controller="home" asp-action="index">Support</a></li>
                                <li><a asp-controller="about" asp-action="index">Contacts</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer_bottom">
                <div class="row">
                    <div class="col-12">
                        <div class="copyright_area">
                            <p>&copy; 2022 <a asp-controller="home" asp-action="index" class="text-uppercase">MONSTA</a>. Made  by <a target="_blank" href="#">Ismayil Ibra</a></p>
                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--footer area end-->
    <!-- JS
    ============================================ -->
    <!-- Plugins JS -->
    <script src="~/assets/js/vendor/jquery-3.4.1.min.js"></script>
    <script src="~/assets/js/popper.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/plugins.js"></script>
    <script src="~/assets/js/owl.carousel.main.js"></script>
    <script src="~/assets/js/jquery.nice.select.js"></script>
    <script src="~/assets/js/scrollup.js"></script>
    <script src="~/assets/js/ajax.chimp.js"></script>
    <script src="~/assets/js/jquery.ui.js"></script>
    <script src="~/assets/js/jquery.elevatezoom.js"></script>
    <script src="~/assets/js/imagesloaded.js"></script>
    <script src="~/assets/js/isotope.main.js"></script>
    <script src="~/assets/js/jqquery.ripples.js"></script>
    <script src="~/assets/js/jquery.cookie.js"></script>
    <script src="~/assets/js/bpopup.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
     <script src="~/assets/js/search.js" asp-append-version="true"></script>
    <script src="~/assets/js/wishlist.js" asp-append-version="true"></script>

    <script src="~/assets/js/basket.js" asp-append-version="true"></script>

    <!-- Main JS -->
    <script src="~/assets/js/main.js"></script>
    @await RenderSectionAsync("Scripts", false)


</body>


<!-- Mirrored from htmldemo.net/monsta/monsta/index-5.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 17 Dec 2022 15:31:30 GMT -->
</html>
