@model Product
@inject Watch.BLL.Services.LayoutService layoutService

@{
    var product = Model;
    var productImages = Model.ProductImages;

}
<!--breadcrumbs area start-->
<div class="breadcrumbs_area product_bread">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a asp-controller="home" asp-action="index">home</a></li>
                        <li>></li>
                        <li><a asp-controller="product" asp-action="index">shop</a></li>
                        <li>></li>
                        <li>@product.Name</li>
                        <li>></li>
                        <li>Details</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs area end-->
<!--product details start-->
<div class="product_details">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="product-details-tab">

                    @foreach (var image in productImages.Take(1))
                    {
                        <div id="img-1" class="zoomWrapper single-zoom">
                            <a href="#">

                                <img id="zoom1" style="width:600px; height:600px;" src="~/assets/img/product/@image.Name" data-zoom-image="/assets/img/product/@image.Name" alt="big-1">
                            </a>
                        </div>
                    }




                    <div class="single-zoom-thumb">
                        <ul class="s-tab-zoom owl-carousel single-product-active" id="gallery_01">
                            @foreach (var item in productImages)
                            {
                                <li>
                                    <a href="#" class="elevatezoom-gallery active" data-update="" data-image="/assets/img/product/@item.Name" data-zoom-image="/assets/img/product/@item.Name">
                                        <img src="~/assets/img/product/@item.Name" alt="zo-th-1" />
                                    </a>

                                </li>
                            }


                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="product_d_right">
                    <form action="#">

                        <h1>@product.Name</h1>

                        <div class=" product_ratting">
                            <ul>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"> (customer review ) </a></li>
                            </ul>
                        </div>
                        <div class="product_price">
                            <span class="current_price">$@product.Price</span>
                        </div>
                        <div class="product_desc">
                            <p>@product.ShortDescription </p>
                        </div>

                        <div class="product_variant quantity">
                            <input type="hidden" value="@product.Id" />
                            <a id="add-product-to-cart" class="addtocart-btn button"  >
                                
                                add to cart
                                </a>
                             
                        </div>
                        <div class=" product_d_action">
                            <ul>
                                <li>
                                    <a id="productLink" href="#" title="Add to wishlist">
                                       <input type="hidden" id="productId" value="@product.Id">
                                       <span id=@("favorite" + product.Id)>Add To Wishlist</span>
                                        </a>
                                        </li>
                            </ul>
                        </div>
                        <div class="product_meta">
                            <span>
                                Category:
                                @foreach (var category in product.CategoryProducts)
                                {
                                    <a href="#">@category.Category.Name</a>
                                }
                            </span>
                        </div>

                    </form>
                    <div class="priduct_social">
                         <ul>
                                <li class="facebook"><a href="@layoutService.GetSettings().FirstOrDefault(p=>p.Key.Trim().ToLower()=="fburl")?.Value" target="_blank">@Html.Raw(@layoutService.GetSettings().FirstOrDefault(p=>p.Key.Trim().ToLower()=="fbicon")?.Value)</a></li>
                                <li class="twitter"><a href="@layoutService.GetSettings().FirstOrDefault(p=>p.Key.Trim().ToLower()=="yturl")?.Value" target="_blank">@Html.Raw(@layoutService.GetSettings().FirstOrDefault(p=>p.Key.Trim().ToLower()=="yticon")?.Value)</a></li>
                                <li class="pinterest"><a href="@layoutService.GetSettings().FirstOrDefault(p=>p.Key.Trim().ToLower()=="g+url")?.Value" target="_blank">@Html.Raw(@layoutService.GetSettings().FirstOrDefault(p=>p.Key.Trim().ToLower()=="g+icon")?.Value)</a></li>
                                <li class="google-plus"><a href="@layoutService.GetSettings().FirstOrDefault(p=>p.Key.Trim().ToLower()=="githuburl")?.Value" target="_blank">@Html.Raw(@layoutService.GetSettings().FirstOrDefault(p=>p.Key.Trim().ToLower()=="githubicon")?.Value)</a></li>
                            </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!--product details end-->
<!--product info start-->
<div class="product_d_info">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="product_d_inner">
                    <div class="product_info_button">
                        <ul class="nav" role="tablist">
                            <li>
                                <a class="active" data-bs-toggle="tab" href="#info" role="tab" aria-controls="info" aria-selected="false">Description</a>
                            </li>
                            
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="info" role="tabpanel">
                            <div class="product_info_content">
                                <p>@product.MainDescription</p>
                            </div>
                        </div>

                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--product info end-->
<!--product section area start-->
<section class="product_section  p_section1">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section_title">
                    <h2>Related products</h2>
                </div>
            </div>
            <div class="col-12">
                <div class="product_area ">
                    <div class="product_container bottom">
                        <div class="custom-row product_row1">
                            @await Component.InvokeAsync("HomeProduct")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--product section area end-->
@section Scripts
    {
    <!-- Plugins JS -->
    <script src="~/assets/js/vendor/jquery-3.4.1.min.js"></script>
    <script src="~/assets/js/popper.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/plugins.js"></script>
    <script src="~/assets/js/owl.carousel.main.js"></script>
    <script src="~/assets/js/jquery.nice.select.js"></script>
    <script src="~/assets/js/scrollup.js"></script>
    <script src="~/assets/js/ajax.chimp.js"></script>
    <script src="~/assets/js/jquery.ui.js"></script>
    <script src="~/assets/js/jquery.elevatezoom.js"></script>
    <script src="~/assets/js/imagesloaded.js"></script>
    <script src="~/assets/js/isotope.main.js"></script>
    <script src="~/assets/js/jqquery.ripples.js"></script>
    <script src="~/assets/js/jquery.cookie.js"></script>
    <script src="~/assets/js/search.js" asp-append-version="true"></script>
    <script src="~/assets/js/basket.js asp-append-version="true"></script>

    <script src="~/assets/js/wishlist.js" asp-append-version="true"></script>

    <script src="~/assets/js/bpopup.js"></script>

    <!-- Main JS -->
    <script src="~/assets/js/main.js"></script>


    }