@model ShopSideBarBrandViewModel
@{
    var brands = Model.Brands;

}
<!--breadcrumbs area start-->
<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a asp-controller="home" asp-action="index">home</a></li>
                        <li>></li>
                        <li>shop </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs area end-->
<!--shop  area start-->
<div class="shop_area">
    <div class="container">
        <div class="row">

            <div class="col-lg-9 col-md-12">
                <!--shop wrapper start-->
                <!--shop toolbar start-->
                <div class="shop_toolbar">
                    <div class="list_button">
                        <ul class="nav" role="tablist">
                            <li>
                                <a class="active" data-bs-toggle="tab" href="#large" role="tab" aria-controls="large" aria-selected="true"><i class="ion-grid"></i></a>
                            </li>
                            <li>
                                <a data-bs-toggle="tab" href="#list" role="tab" aria-controls="list" aria-selected="false"><i class="ion-ios-list-outline"></i> </a>
                            </li>
                        </ul>
                    </div>
                    <div class="orderby_wrapper">
                        <h3>Sort By : </h3>
                        <div class=" niceselect_option">

                            <form class="select_option" action="#">

                                <select name="orderby" id="short">
                                    <option selected value="1">Sort by popularity</option>
                                    <option value="2">Sort by popularity</option>
                                    <option value="3">Sort by newness</option>
                                    <option value="4">Sort by price: low to high</option>
                                    <option value="5">Sort by price: high to low</option>
                                    <option value="6">Product Name: Z</option>
                                </select>
                            </form>


                        </div>
                        <div class="page_amount">
                            <p>Showing 1–9 of 21 results</p>
                        </div>
                    </div>
                </div>
                <!--shop toolbar end-->
                <!--shop tab product start-->
                <div class="tab-content">
                    <div class="tab-pane grid_view fade show active" id="large" role="tabpanel">
                        <div class="row">
                            @foreach (var brand in brands)
                            {
                                @foreach (var product in brand.Products)
                                {
                                    <div class="col-lg-4 col-md-4 col-sm-6">
                                        <div class="single_product">
                                            <div class="product_thumb">
                                                @for (var i = 1; i < 2; i++)
                                                {
                                                    <a class="primary_img" asp-controller="product" asp-action="details" asp-route-id="@product.Id"><img src="~/assets/img/product/@product.ProductImages[i].Name" alt=""></a>
                                                    <a class="secondary_img" asp-controller="product" asp-action="details" asp-route-id="@product.Id"><img src="~/assets/img/product/@product.ProductImages[i+1].Name" alt=""></a>
                                                }

                                                <div class="quick_button">
                                                    <a href="#" data-bs-toggle="modal" data-bs-target="#modal_box" data-placement="top" data-original-title="quick view"> quick view</a>
                                                </div>
                                            </div>
                                            <div class="product_content">
                                                <div class="tag_cate">
                                                    @foreach (var categoryProduct in product.CategoryProducts)
                                                    {
                                                        <a href="#">@categoryProduct.Category.Name </a>
                                                    }

                                                </div>
                                                <h3><a asp-controller="product" asp-action="details" asp-route-id="@product.Id">@product..Name</a></h3>
                                                <div class="price_box">
                                                    <span class="current_price">$@product.Price</span>
                                                </div>
                                                <div class="product_hover">
                                                    <div class="product_ratings">
                                                        <ul>
                                                            <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                                                            <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                                                            <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                                                            <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                                                            <li><a href="#"><i class="ion-ios-star-outline"></i></a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="product_desc">
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce posuere metus vitae arcu imperdiet</p>
                                                    </div>
                                                    <div class="action_links">
                                                        <ul>
                                                            <li><a href="wishlist.html" data-placement="top" title="Add to Wishlist" data-bs-toggle="tooltip"><span class="icon icon-Heart"></span></a></li>
                                                            <li class="add_to_cart"><a href="cart.html" title="add to cart">add to cart</a></li>
                                                            <li><a href="compare.html" title="compare"><i class="ion-ios-settings-strong"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }



                        </div>
                    </div>


                </div>
                <!--shop tab product end-->
                <!--shop wrapper end-->
            </div>
            <div class="col-lg-3 col-md-12">
                <!--sidebar widget start-->
                @await Component.InvokeAsync("ShopSideBar")
                <!--sidebar widget end-->
            </div>
        </div>
    </div>
</div>